p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkred;
}
h3{
    font-style: italic;
    color: crimson;

}
ol{
    color: darkred;
}
ul{
    color: darkred;
    letter-spacing:5px;
}
.link{
    text-decoration: none;
}